@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Marketplace.Domain.ViewModels.ProductInStore.ProductInStoreViewModel>

@{
}
@if (ViewBag.Status != null)
{                      
  @if (ViewBag.Status == true)
  {
    <div id="productsBlock">
    @foreach (var product in ViewBag.Data)
    {
      <div class="productItem">
      <h4>Название:</h4> <h5>@product.Name_product</h5><br>
      <h4>Цена:</h4> <h5>@product.Price</h5><br>
      <h4>Кол-во:</h4> <h5>@product.Quantity</h5>
      </div>
    }
    </div>
  }
} else
{
  <h2>Поиск товара на заданную сумму</h2>

  @using (Html.BeginForm("GetProductsForAmount", "ProductInStore", FormMethod.Post))
  {
      @Html.AntiForgeryToken()
                  <div id="productsBlock">
                      <div class="productItem">
                          <div>
                              <label>Название магазина</label>
                              <div>
                                      <input type="text" name="nameStore" />
                              </div>
                              <label>Сумма</label>
                              <div>
                                      <input type="number" name="amount"/>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p><input type="submit" value="Найти" /></p>
  }
}
<div>
      <a asp-action="Index">Back to List</a>
</div>   


<style>

    body{
        font-family:  "Segoe UI",Helvetica,Arial,sans-serif;
        font-weight: 500;
    }
    #productsBlock{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:40px;
        margin-bottom: 10px;
    }
    .productItem{
        margin: auto;
        margin-top: 30px;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 10px;
        border-radius: 0.3em;
        background-color: none;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        text-align: center;
    }
    input{
        border-radius: 0.3em;
        border: solid 1px rgba(0,0,0,0.3);
        border-bottom: solid 2px rgba(0,0,0,0.3);
        outline: none;
        &:focus{
            border: solid 1px rgba(0,0,0,0.5);
            border-bottom: solid 2px rgba(0,0,0,0.5);
            box-shadow: 0 0 4px rgba(0,0,0,0.3);
        }
    }
    h4{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .storeBlock{
        width: 100vw;
        height: 40px;
        box-shadow: 0 10px 5px rgba(0,0,0,0.1);
    }
</style>